.dads-form-control-label {
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
}

.dads-form-control-label[data-size="sm"] {
  gap: calc(4 / 16 * 1rem);
}

.dads-form-control-label[data-size="md"] {
  gap: calc(8 / 16 * 1rem);
}

.dads-form-control-label[data-size="lg"] {
  gap: calc(8 / 16 * 1rem);
}

.dads-form-control-label__label {
  align-self: start;
  padding: 0;
  font-weight: bold;
}

.dads-form-control-label[data-size="sm"] .dads-form-control-label__label {
  font-size: calc(16 / 16 * 1rem);
}

.dads-form-control-label[data-size="md"] .dads-form-control-label__label {
  font-size: calc(17 / 16 * 1rem);
}

.dads-form-control-label[data-size="lg"] .dads-form-control-label__label {
  font-size: calc(18 / 16 * 1rem);
}

legend.dads-form-control-label__label {
  margin-bottom: calc(8 / 16 * 1rem);
  float: none;
}

.dads-form-control-label__requirement {
  margin-left: calc(4 / 16 * 1rem);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
}

.dads-form-control-label__requirement[data-required="true"] {
  color: var(--color-semantic-error-1);
}

.dads-form-control-label__requirement::before {
  content: " ";
}

.dads-form-control-label__status {
  margin-left: calc(4 / 16 * 1rem);
  display: inline-block;
  outline: 1px solid transparent;
  border-radius: calc(8 / 16 * 1rem);
  background-color: var(--color-neutral-solid-gray-536);
  padding: calc(8 / 16 * 1rem);
  color: var(--color-neutral-white);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1;
  letter-spacing: 0.02em;
}

.dads-form-control-label__support-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-neutral-solid-gray-600);
}

.dads-form-control-label__error-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-semantic-error-1);
  line-height: 1.3;
  letter-spacing: 0;
}
