.dads-carousel {
  container-type: inline-size;
  display: block;
}

.dads-carousel__inner {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  max-width: calc(1024 / 16 * 1rem);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
}

@container (min-width: 64rem) {
  .dads-carousel__inner {
    padding-right: calc(48 / 16 * 1rem);
    padding-left: calc(48 / 16 * 1rem);
  }
}

.dads-carousel__number {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: calc(32 / 16 * 1rem);
  height: calc(32 / 16 * 1rem);
  border: 1px solid var(--color-neutral-solid-gray-800);
  border-radius: 50%;
  background-color: var(--color-neutral-white);
  padding: 0 0 calc(2 / 16 * 1rem);
  color: var(--color-neutral-solid-gray-800);
  font: inherit;
  font-weight: bold;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1;
  letter-spacing: 0.02em;
}

.dads-carousel__number[aria-current="true"],
.dads-carousel__number[aria-selected="true"] {
  background-color: var(--color-neutral-solid-gray-800);
  color: var(--color-neutral-white);
  box-shadow: 0 0 0 2px var(--color-neutral-white);
  outline: 1px solid var(--color-neutral-solid-gray-800);
  outline-offset: 2px;
}

.dads-carousel__panel-set {
  display: grid;
  grid-template: "main" auto / auto;
}

@container (min-width: 64rem) {
  .dads-carousel__panel-set {
    margin-right: calc(-48 / 16 * 1rem);
    margin-left: calc(-48 / 16 * 1rem);
    grid-template:
      "number main next ." auto /
      calc(48 / 16 * 1rem) 3fr 1fr calc(48 / 16 * 1rem);
  }
}

.dads-carousel__panel-set::before {
  grid-area: number;
  justify-self: center;
  display: none;
  border-right: 1px solid var(--color-neutral-black);
  height: 100%;
  content: "";
}

.dads-carousel__panel-number {
  grid-area: number;
  justify-self: center;
  display: none;
}

.dads-carousel__main-bg {
  position: relative;
  z-index: -1;
  grid-area: main;
  overflow: clip;
}

.dads-carousel__main-bg > div {
  position: absolute;
  inset: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(25px);
  transform: translate3d(0, 0, 0); /* for better performance on Safari */
}

.dads-carousel__main-bg > div img {
  width: auto;
  height: 200%;
}

.dads-carousel__main-bg > div::after {
  position: absolute;
  inset: 0;
  background-color: var(--color-neutral-white);
  mix-blend-mode: soft-light;
  content: "";
}

.dads-carousel__main {
  grid-area: main;
  position: relative;
  min-width: 0;
}

.dads-carousel__main-link {
  display: block;
}

@media (hover: hover) {
  .dads-carousel__main-link:any-link:hover:not(:focus-visible) {
    outline: calc(4 / 16 * 1rem) solid var(--color-primitive-blue-900);
    outline-offset: calc(-2 / 16 * 1rem);
  }

  .dads-carousel__main-link:any-link:hover:not(:focus-visible)::after {
    position: absolute;
    inset: 2px;
    box-shadow: inset 0 0 0 calc(2 / 16 * 1rem) var(--color-neutral-white);
    pointer-events: none;
    content: "";
  }
}

.dads-carousel__main-link:focus-visible {
  overflow: hidden;
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(-2 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
}

.dads-carousel__main-link:focus-visible::after {
  position: absolute;
  inset: 2px;
  box-shadow: inset 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
  border-radius: calc(6 / 16 * 1rem);
  pointer-events: none;
  content: "";
}

.dads-carousel__image-container {
  display: grid;
  place-content: center;
  height: 100%;
  border-radius: inherit;
  outline: 2px solid var(--color-neutral-black);
  outline-offset: -2px;
}

.dads-carousel__image-container img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

.dads-carousel__next-bg {
  position: relative;
  z-index: -1;
  display: none;
  grid-area: next;
  overflow: clip;
}

.dads-carousel__next-bg > div {
  position: absolute;
  inset: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(25px);
  transform: translate3d(0, 0, 0); /* for better performance on Safari */
}

.dads-carousel__next-bg > div img {
  width: auto;
  height: 200%;
}

.dads-carousel__next-bg > div::after {
  position: absolute;
  inset: 0;
  background-color: var(--color-neutral-white);
  mix-blend-mode: soft-light;
  content: "";
}

@container (min-width: 64rem) {
  .dads-carousel__next-bg {
    display: block;
  }
}

.dads-carousel__next {
  grid-area: next;
  margin: 0;
  display: none;
  min-width: 0;
  border: 1px solid var(--color-neutral-solid-gray-420);
  border-left-width: 0;
  padding: calc(24 / 16 * 1rem);
}

@container (min-width: 64rem) {
  .dads-carousel__next {
    display: block;
  }
}

.dads-carousel__next > button {
  position: relative;
  border: 1px solid var(--color-neutral-solid-gray-420);
  background-color: var(--color-neutral-white);
  padding: 0;
  font: inherit;
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
  cursor: pointer;
  touch-action: manipulation;
}

@media (hover: hover) {
  .dads-carousel__next > button:hover {
    outline: calc(4 / 16 * 1rem) solid var(--color-primitive-blue-900);
    outline-offset: -1px;
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }

  .dads-carousel__next > button:hover:not(:focus-visible)::after {
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 calc(2 / 16 * 1rem) var(--color-neutral-white);
    pointer-events: none;
    content: "";
  }
}

.dads-carousel__next > button:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-carousel__next-image-container img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

.dads-carousel__next-image-label {
  display: block;
  border-top: 1px solid var(--color-neutral-solid-gray-420);
  padding: calc(16 / 16 * 1rem);
  font-weight: bold;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-decoration-thickness: inherit;
}

.dads-carousel__controls {
  display: flex;
  align-items: center;
  column-gap: calc(20 / 16 * 1rem);
  padding: calc(12 / 16 * 1rem) 0;
}

@container (min-width: 64rem) {
  .dads-carousel__controls {
    column-gap: calc(32 / 16 * 1rem);
  }
}

.dads-carousel__others[open] {
  flex: 1;
}

.dads-carousel__others .dads-disclosure__summary {
  border-radius: calc(8 / 16 * 1rem);
  border: 1px solid var(--color-neutral-solid-gray-600);
  background-color: var(--color-neutral-white) !important;
  padding: calc(8 / 16 * 1rem) calc(12 / 16 * 1rem);
  cursor: pointer;
}

.dads-carousel__others-content.dads-disclosure__content {
  margin: calc(12 / 16 * 1rem) 0 0;
  padding-left: 0;
}

.dads-carousel__others-content > ul {
  display: grid;
  row-gap: calc(24 / 16 * 1rem);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dads-carousel dads-carousel-step-nav {
  display: none;
}

@container (min-width: 64rem) {
  .dads-carousel dads-carousel-step-nav {
    display: flex;
  }
}

.dads-carousel__step-nav {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: end;
  column-gap: calc(16 / 16 * 1rem);
  padding: 0;
  list-style-type: none;
}

.dads-carousel__step-nav > li {
  position: relative;
  flex-shrink: 0;
}

.dads-carousel__step-nav > li:not(:last-child)::before {
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(16 / 16 * 1rem);
  border-bottom: 1px solid var(--color-neutral-solid-gray-800);
  content: "";
}

.dads-carousel__step {
  position: relative;
}

.dads-carousel__step:not([aria-selected="true"]) {
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

.dads-carousel__step::after {
  position: absolute;
  inset: calc(-7 / 16 * 1rem);
  content: "";
}

@media (hover: hover) {
  .dads-carousel__step:not([aria-selected="true"]):hover {
    text-decoration-thickness: calc(3 / 16 * 1rem);
    cursor: pointer;
  }
}

.dads-carousel__step:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-carousel__page-nav {
  flex-shrink: 0;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: calc(12 / 16 * 1rem);
  padding: 0;
}

@container (min-width: 64rem) {
  .dads-carousel__page-nav {
    display: none;
  }
}

.dads-carousel__page-nav > button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  border: 1px solid var(--color-primitive-blue-1000);
  border-radius: 50%;
  background-color: var(--color-neutral-white);
  padding: 0;
  color: var(--color-primitive-blue-1000);
  cursor: pointer;
}

.dads-carousel__page-nav > button::after {
  position: absolute;
  inset: -100%;
  margin: auto;
  width: calc(44 / 16 * 1rem);
  height: calc(44 / 16 * 1rem);
  content: "";
}

.dads-carousel__page-nav > button:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-carousel__page-nav > span {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.dads-carousel__others {
  order: -1;
}

/* 展開中 */

@container (min-width: 64rem) {
  .dads-carousel:has([open]) .dads-carousel__panel-set::before {
    display: block;
  }

  .dads-carousel:has([open]) .dads-carousel__panel-number {
    display: flex;
  }

  .dads-carousel:has([open]) .dads-carousel__next-bg {
    display: none;
  }

  .dads-carousel:has([open]) .dads-carousel__next {
    display: none;
  }

  .dads-carousel:has([open]) dads-carousel-step-nav {
    display: none;
  }
}

.dads-carousel:has([open]) .dads-carousel__controls {
  padding-bottom: calc(56 / 16 * 1rem);
}

.dads-carousel:has([open]) .dads-carousel__page-nav {
  display: none;
}

.dads-carousel:has([open]) .dads-carousel__expand {
  display: none;
}

.dads-carousel:has([open]) .dads-carousel__slides {
  display: grid;
}
