.dads-global-menu {
  margin: 0;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid var(--color-neutral-solid-gray-420);
  padding: 0;
  color: var(--color-neutral-solid-gray-900);
  list-style-type: none;
  font-weight: bold;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.3;
  font-family: var(--font-family-sans);
  letter-spacing: 0;
}

.dads-global-menu__item {
  display: flex;
  align-items: stretch;
  position: relative;
}

.dads-global-menu__item-inner,
.dads-global-menu__item-inner:any-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(4 / 16 * 1rem);
  box-sizing: border-box;
  min-height: calc(64 / 16 * 1rem);
  border: 0;
  background-color: transparent;
  padding: calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

.dads-global-menu__front-icon {
  flex-shrink: 0;
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
}

.dads-global-menu__chevron {
  margin-top: calc(4 / 16 * 1rem);
  box-sizing: content-box;
  flex-shrink: 0;
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
}

@media (hover: hover) {
  .dads-global-menu__item-inner:hover {
    background-color: var(--color-neutral-solid-gray-50);
  }

  .dads-global-menu__item-inner:hover::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--color-neutral-black);
    content: "";
  }
}

.dads-global-menu__item-inner[aria-current] {
  background-color: var(--color-neutral-white);
  color: var(--color-primitive-blue-1000);
}

.dads-global-menu__item-inner[aria-current]::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid var(--color-primitive-blue-900);
  content: "";
}

@media (hover: hover) {
  .dads-global-menu__item-inner[aria-current]:hover {
    color: var(--color-primitive-blue-900);
    text-decoration: underline;
    text-decoration-thickness: calc(1 / 16 * 1rem);
    text-underline-offset: calc(3 / 16 * 1rem);
  }
}

.dads-global-menu__item-inner:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-global-menu__item-inner[aria-current]:focus-visible {
  background-color: var(--color-neutral-white);
}

.dads-global-menu__item-inner[aria-expanded="true"] .dads-global-menu__chevron {
  transform: rotate(180deg);
}
