.dads-checkbox {
  display: flex;
  align-items: start;
  gap: var(--_gap);
  width: fit-content;
}

.dads-checkbox:has(.dads-checkbox__label:not(:empty)) {
  padding-top: calc(8 / 16 * 1rem);
  padding-bottom: calc(8 / 16 * 1rem);
}

.dads-checkbox[data-size="sm"] {
  --_gap: calc(4 / 16 * 1rem);
  --_checkbox-size: calc(24 / 16 * 1rem);
  --_checkbox-border-width: calc(2 / 16 * 1rem);
  --_checkbox-scale: 1;
  --_label-padding-top: calc(1 / 16 * 1rem);
  --_label-font-size: calc(16 / 16 * 1rem);
}

.dads-checkbox[data-size="md"] {
  --_gap: calc(8 / 16 * 1rem);
  --_checkbox-size: calc(32 / 16 * 1rem);
  --_checkbox-border-width: calc(2 / 16 * 1rem);
  --_checkbox-scale: calc(20 / 14);
  --_label-padding-top: calc(4 / 16 * 1rem);
  --_label-font-size: calc(16 / 16 * 1rem);
}

.dads-checkbox[data-size="lg"] {
  --_gap: calc(8 / 16 * 1rem);
  --_checkbox-size: calc(44 / 16 * 1rem);
  --_checkbox-border-width: calc(3 / 16 * 1rem);
  --_checkbox-scale: calc(27 / 14);
  --_label-padding-top: calc(10 / 16 * 1rem);
  --_label-font-size: calc(17 / 16 * 1rem);
}

.dads-checkbox__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--_checkbox-size);
  height: var(--_checkbox-size);
  border-radius: 12.5%;
}

@media (hover: hover) {
  .dads-checkbox__checkbox:has(
      :not(:focus, :disabled, [aria-disabled="true"]):hover
    ) {
    background-color: var(--color-neutral-solid-gray-420);
  }
}

.dads-checkbox__input {
  --_base-color: var(--color-neutral-white);
  --_accent-color: var(--color-primitive-blue-900);
  --_accent-hover-color: var(--color-primitive-blue-1100);
  --_border-color: var(--color-neutral-solid-gray-600);
  --_border-hover-color: var(--color-neutral-black);
  --_check-color: var(--color-neutral-white);

  margin: 0;
  appearance: none;
  width: 75%;
  height: 75%;
  border-radius: calc(2 / 18 * 100%);
  background-color: var(--_base-color);
  background-clip: padding-box;
  border: var(--_checkbox-border-width) solid var(--_border-color);
}

.dads-checkbox__input:focus {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

@media (hover: hover) {
  .dads-checkbox__input:not(:disabled, [aria-disabled="true"]):hover {
    border-color: var(--_border-hover-color);
  }
}

.dads-checkbox__input:is(:checked, :indeterminate) {
  border-color: var(--_accent-color);
  background-color: var(--_accent-color);
}

@media (hover: hover) {
  .dads-checkbox__input:is(:checked, :indeterminate):not(
      :disabled,
      [aria-disabled="true"]
    ):hover {
    border-color: var(--_accent-hover-color);
    background-color: var(--_accent-hover-color);
  }
}

.dads-checkbox__input::before {
  display: none;
  width: calc(14 / 16 * 1rem);
  height: calc(14 / 16 * 1rem);
  background-color: var(--_check-color);
  transform-origin: left top;
  transform: scale(var(--_checkbox-scale, 1));
  content: "";
}

.dads-checkbox__input:checked::before {
  display: block;
  clip-path: path(
    "M5.6,11.2L12.65,4.15L11.25,2.75L5.6,8.4L2.75,5.55L1.35,6.95L5.6,11.2Z"
  );
}

.dads-checkbox__input:indeterminate::before {
  display: block;
  clip-path: path("M2,6h10v2H2Z");
}

.dads-checkbox__input[aria-invalid="true"] {
  --_accent-color: var(--color-semantic-error-1);
  --_accent-hover-color: var(--color-primitive-red-1000);
  --_border-color: var(--color-semantic-error-1);
  --_border-hover-color: var(--color-primitive-red-1000);
}

.dads-checkbox__input:is(:disabled, [aria-disabled="true"]) {
  --_base-color: var(--color-neutral-solid-gray-50);
  --_accent-color: var(--color-neutral-solid-gray-300);
  --_accent-hover-color: var(--color-neutral-solid-gray-300);
  --_border-color: var(--color-neutral-solid-gray-300);
  --_border-hover-color: var(--color-neutral-solid-gray-300);
}

@media (forced-colors: active) {
  .dads-checkbox__input,
  .dads-checkbox__input[aria-invalid="true"] {
    --_accent-color: Highlight;
    --_accent-hover-color: Highlight;
    --_border-color: ButtonText;
    --_border-hover-color: ButtonText;
    --_check-color: HighlightText;
  }

  .dads-checkbox__input:is(:disabled, [aria-disabled="true"]) {
    --_accent-color: GrayText;
    --_accent-hover-color: GrayText;
    --_border-color: GrayText;
    --_border-hover-color: GrayText;
    --_check-color: Canvas;
  }
}

.dads-checkbox__label {
  padding-top: var(--_label-padding-top);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: var(--_label-font-size);
  line-height: 1.3;
  font-family: var(--font-family-sans);
  letter-spacing: 0;
}
