.dads-menu-list {
  position: relative;
  z-index: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.3;
  font-family: var(--font-family-sans);
  letter-spacing: 0;
}

.dads-menu-list__item,
.dads-menu-list__item:any-link {
  display: flex;
  align-items: center;
  column-gap: calc(8 / 16 * 1rem);
  box-sizing: border-box;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  border: 0;
  background-color: transparent;
  padding-right: calc(16 / 16 * 1rem);
  padding-left: calc(16 / 16 * 1rem);
  color: inherit;
  text-align: left;
  font: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  text-decoration-thickness: calc(1 / 16 * 1rem);
}

.dads-menu-list__item[data-size="regular"] {
  min-height: calc(44 / 16 * 1rem);
  padding-top: calc(10 / 16 * 1rem);
  padding-bottom: calc(10 / 16 * 1rem);
  line-height: 1.3;
}

.dads-menu-list__item[data-size="small"] {
  min-height: calc(36 / 16 * 1rem);
  padding-top: calc(6 / 16 * 1rem);
  padding-bottom: calc(6 / 16 * 1rem);
  line-height: 1.2;
}

.dads-menu-list__item[data-type="standard"] {
  margin-left: calc(1rem * var(--menu-list-indentation, 0));
}

.dads-menu-list__item[data-type="standard"][data-size="regular"] {
  border-radius: calc(8 / 16 * 1rem);
}

.dads-menu-list__item[data-type="standard"][data-size="small"] {
  border-radius: calc(4 / 16 * 1rem);
}

.dads-menu-list__item[data-type="box"] {
  border-radius: 0;
}

.dads-menu-list__item[data-type="box"] {
  padding-left: calc(16 / 16 * 1rem + 1rem * var(--menu-list-indentation, 0));
}

.dads-menu-list__item[data-current] {
  background-color: var(--color-primitive-blue-100);
  color: var(--color-primitive-blue-1000);
  font-weight: bold;
}

.dads-menu-list__item:has(+ * [data-current]) {
  background-color: var(--color-primitive-blue-50);
  color: var(--color-primitive-blue-1000);
}

@media (hover: hover) {
  .dads-menu-list__item:hover {
    background-color: var(--color-neutral-solid-gray-50);
    text-decoration: underline;
    text-underline-offset: calc(3 / 16 * 1rem);
  }

  .dads-menu-list__item[data-current]:hover,
  .dads-menu-list__item:has(+ * [data-current]):hover {
    background-color: var(--color-primitive-blue-50);
    color: var(--color-primitive-blue-900);
  }
}

.dads-menu-list__item:focus-visible {
  position: relative;
  z-index: 1;
  background-color: var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-type="standard"]:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-type="box"]:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(-4 / 16 * 1rem);
  box-shadow: inset 0 0 0 calc(6 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-current]:focus-visible {
  background-color: var(--color-primitive-blue-100);
}

.dads-menu-list__item:has(+ * [data-current]):focus-visible {
  background-color: var(--color-primitive-blue-50);
}

.dads-menu-list__front-icon {
  flex-shrink: 0;
}

.dads-menu-list__tail-icon {
  display: inline-block;
  vertical-align: -0.15em;
}

.dads-menu-list__end-icon {
  margin-top: calc(2 / 16 * 1rem);
  margin-right: calc(-4 / 16 * 1rem);
  margin-left: auto;
  flex-shrink: 0;
}

.dads-menu-list__item[data-expanded] .dads-menu-list__end-icon {
  transform: rotate(180deg);
}
