/* index.css */
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}
#canvas-container {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
canvas {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA9SURBVFhH7c6hDQBACANA9h+0a/x7HEFgrklNRXP1lkmyavXDafrhtAAAAAAAAADVh2m3AQAAAAAAADgHfKYUWuLgd5BgAAAAAElFTkSuQmCC");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: crosshair;
}
.active-tool {
    color: #4caf50;
    font-weight: bold;
}
.hint {
    font-size: 12px;
    color: #ccc;
}
#helpModel {
    position: fixed;
    width: 48em;
    height: 32em;
    background: white;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 55555;
    top: calc(50vh - 16em + 11px);
    left: calc(50vw - 24em - 31px);
    border: solid;
    border-width: thin;
    display: none;
}

#version {
    position: fixed;
    z-index: 5555;
    bottom: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* root.css */
:root {
    --color-primitive-blue-50: #e8f1fe;
    --color-primitive-blue-100: #d9e6ff;
    --color-primitive-blue-200: #c5d7fb;
    --color-primitive-blue-300: #9db7f9;
    --color-primitive-blue-400: #7096f8;
    --color-primitive-blue-500: #4979f5;
    --color-primitive-blue-600: #3460fb;
    --color-primitive-blue-700: #264af4;
    --color-primitive-blue-800: #0031d8;
    --color-primitive-blue-900: #0017c1;
    --color-primitive-blue-1000: #00118f;
    --color-primitive-blue-1100: #000071;
    --color-primitive-blue-1200: #000060;
    --color-primitive-light-blue-50: #f0f9ff;
    --color-primitive-light-blue-100: #dcf0ff;
    --color-primitive-light-blue-200: #c0e4ff;
    --color-primitive-light-blue-300: #97d3ff;
    --color-primitive-light-blue-400: #57b8ff;
    --color-primitive-light-blue-500: #39abff;
    --color-primitive-light-blue-600: #008bf2;
    --color-primitive-light-blue-700: #0877d7;
    --color-primitive-light-blue-800: #0066be;
    --color-primitive-light-blue-900: #0055ad;
    --color-primitive-light-blue-1000: #00428c;
    --color-primitive-light-blue-1100: #00316a;
    --color-primitive-light-blue-1200: #00234b;
    --color-primitive-cyan-50: #e9f7f9;
    --color-primitive-cyan-100: #c8f8ff;
    --color-primitive-cyan-200: #99f2ff;
    --color-primitive-cyan-300: #79e2f2;
    --color-primitive-cyan-400: #2bc8e4;
    --color-primitive-cyan-500: #01b7d6;
    --color-primitive-cyan-600: #00a3bf;
    --color-primitive-cyan-700: #008da6;
    --color-primitive-cyan-800: #008299;
    --color-primitive-cyan-900: #006f83;
    --color-primitive-cyan-1000: #006173;
    --color-primitive-cyan-1100: #004c59;
    --color-primitive-cyan-1200: #003741;
    --color-primitive-green-50: #e6f5ec;
    --color-primitive-green-100: #c2e5d1;
    --color-primitive-green-200: #9bd4b5;
    --color-primitive-green-300: #71c598;
    --color-primitive-green-400: #51b883;
    --color-primitive-green-500: #2cac6e;
    --color-primitive-green-600: #259d63;
    --color-primitive-green-700: #1d8b56;
    --color-primitive-green-800: #197a4b;
    --color-primitive-green-900: #115a36;
    --color-primitive-green-1000: #0c472a;
    --color-primitive-green-1100: #08351f;
    --color-primitive-green-1200: #032213;
    --color-primitive-lime-50: #ebfad9;
    --color-primitive-lime-100: #d0f5a2;
    --color-primitive-lime-200: #c0f354;
    --color-primitive-lime-300: #ade830;
    --color-primitive-lime-400: #9ddd15;
    --color-primitive-lime-500: #8cc80c;
    --color-primitive-lime-600: #7eb40d;
    --color-primitive-lime-700: #6fa104;
    --color-primitive-lime-800: #618e00;
    --color-primitive-lime-900: #507500;
    --color-primitive-lime-1000: #3e5a00;
    --color-primitive-lime-1100: #2c4100;
    --color-primitive-lime-1200: #1e2d00;
    --color-primitive-yellow-50: #fbf5e0;
    --color-primitive-yellow-100: #fff0b3;
    --color-primitive-yellow-200: #ffe380;
    --color-primitive-yellow-300: #ffd43d;
    --color-primitive-yellow-400: #ffc700;
    --color-primitive-yellow-500: #ebb700;
    --color-primitive-yellow-600: #d2a400;
    --color-primitive-yellow-700: #b78f00;
    --color-primitive-yellow-800: #a58000;
    --color-primitive-yellow-900: #927200;
    --color-primitive-yellow-1000: #806300;
    --color-primitive-yellow-1100: #6e5600;
    --color-primitive-yellow-1200: #604b00;
    --color-primitive-orange-50: #ffeee2;
    --color-primitive-orange-100: #ffdfca;
    --color-primitive-orange-200: #ffc199;
    --color-primitive-orange-300: #ffa66d;
    --color-primitive-orange-400: #ff8d44;
    --color-primitive-orange-500: #ff7628;
    --color-primitive-orange-600: #fb5b01;
    --color-primitive-orange-700: #e25100;
    --color-primitive-orange-800: #c74700;
    --color-primitive-orange-900: #ac3e00;
    --color-primitive-orange-1000: #8b3200;
    --color-primitive-orange-1100: #6d2700;
    --color-primitive-orange-1200: #541e00;
    --color-primitive-red-50: #fdeeee;
    --color-primitive-red-100: #ffdada;
    --color-primitive-red-200: #ffbbbb;
    --color-primitive-red-300: #ff9696;
    --color-primitive-red-400: #ff7171;
    --color-primitive-red-500: #ff5454;
    --color-primitive-red-600: #fe3939;
    --color-primitive-red-700: #fa0000;
    --color-primitive-red-800: #ec0000;
    --color-primitive-red-900: #ce0000;
    --color-primitive-red-1000: #a90000;
    --color-primitive-red-1100: #850000;
    --color-primitive-red-1200: #620000;
    --color-primitive-magenta-50: #f3e5f4;
    --color-primitive-magenta-100: #ffd0ff;
    --color-primitive-magenta-200: #ffaeff;
    --color-primitive-magenta-300: #ff8eff;
    --color-primitive-magenta-400: #f661f6;
    --color-primitive-magenta-500: #f137f1;
    --color-primitive-magenta-600: #db00db;
    --color-primitive-magenta-700: #c000c0;
    --color-primitive-magenta-800: #aa00aa;
    --color-primitive-magenta-900: #8b008b;
    --color-primitive-magenta-1000: #6c006c;
    --color-primitive-magenta-1100: #500050;
    --color-primitive-magenta-1200: #3b003b;
    --color-primitive-purple-50: #f1eafa;
    --color-primitive-purple-100: #ecddff;
    --color-primitive-purple-200: #ddc2ff;
    --color-primitive-purple-300: #cda6ff;
    --color-primitive-purple-400: #bb87ff;
    --color-primitive-purple-500: #a565f8;
    --color-primitive-purple-600: #8843e1;
    --color-primitive-purple-700: #6f23d0;
    --color-primitive-purple-800: #5c10be;
    --color-primitive-purple-900: #5109ad;
    --color-primitive-purple-1000: #41048e;
    --color-primitive-purple-1100: #30016c;
    --color-primitive-purple-1200: #21004b;
    --color-neutral-white: #ffffff;
    --color-neutral-black: #000000;
    --color-neutral-solid-gray-50: #f2f2f2;
    --color-neutral-solid-gray-100: #e6e6e6;
    --color-neutral-solid-gray-200: #cccccc;
    --color-neutral-solid-gray-300: #b3b3b3;
    --color-neutral-solid-gray-400: #999999;
    --color-neutral-solid-gray-420: #949494;
    --color-neutral-solid-gray-500: #7f7f7f;
    --color-neutral-solid-gray-536: #767676;
    --color-neutral-solid-gray-600: #666666;
    --color-neutral-solid-gray-700: #4d4d4d;
    --color-neutral-solid-gray-800: #333333;
    --color-neutral-solid-gray-900: #1a1a1a;
    --color-neutral-opacity-gray-50: rgba(0, 0, 0, 0.05);
    --color-neutral-opacity-gray-100: rgba(0, 0, 0, 0.1);
    --color-neutral-opacity-gray-200: rgba(0, 0, 0, 0.2);
    --color-neutral-opacity-gray-300: rgba(0, 0, 0, 0.3);
    --color-neutral-opacity-gray-400: rgba(0, 0, 0, 0.4);
    --color-neutral-opacity-gray-420: rgba(0, 0, 0, 0.42);
    --color-neutral-opacity-gray-500: rgba(0, 0, 0, 0.5);
    --color-neutral-opacity-gray-536: rgba(0, 0, 0, 0.54);
    --color-neutral-opacity-gray-600: rgba(0, 0, 0, 0.6);
    --color-neutral-opacity-gray-700: rgba(0, 0, 0, 0.7);
    --color-neutral-opacity-gray-800: rgba(0, 0, 0, 0.8);
    --color-neutral-opacity-gray-900: rgba(0, 0, 0, 0.9);
    --font-family-sans: "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-family-mono: "Noto Sans Mono", monospace;
    --elevation-1: 0 2px 8px 1px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    --elevation-2: 0 2px 12px 2px rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    --elevation-3: 0 4px 16px 3px rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    --elevation-4: 0 6px 20px 4px rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    --elevation-5: 0 8px 24px 5px rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    --elevation-6: 0 10px 30px 6px rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
    --elevation-7: 0 12px 36px 7px rgba(0, 0, 0, 0.1), 0 3px 14px 0 rgba(0, 0, 0, 0.3);
    --elevation-8: 0 14px 40px 7px rgba(0, 0, 0, 0.1), 0 3px 16px 0 rgba(0, 0, 0, 0.3);
    --color-semantic-success-1: var(--color-primitive-green-600);
    --color-semantic-success-2: var(--color-primitive-green-800);
    --color-semantic-error-1: var(--color-primitive-red-800);
    --color-semantic-error-2: var(--color-primitive-red-900);
    --color-semantic-warning-yellow-1: var(--color-primitive-yellow-700);
    --color-semantic-warning-yellow-2: var(--color-primitive-yellow-900);
    --color-semantic-warning-orange-1: var(--color-primitive-orange-600);
    --color-semantic-warning-orange-2: var(--color-primitive-orange-800);
    --color-key-50: var(--color-primitive-blue-50);
    --color-key-100: var(--color-primitive-blue-100);
    --color-key-200: var(--color-primitive-blue-200);
    --color-key-300: var(--color-primitive-blue-300);
    --color-key-400: var(--color-primitive-blue-400);
    --color-key-500: var(--color-primitive-blue-500);
    --color-key-600: var(--color-primitive-blue-600);
    --color-key-700: var(--color-primitive-blue-700);
    --color-key-800: var(--color-primitive-blue-800);
    --color-key-900: var(--color-primitive-blue-900);
    --color-key-1000: var(--color-primitive-blue-1000);
    --color-key-1100: var(--color-primitive-blue-1100);
    --color-key-1200: var(--color-primitive-blue-1200);
}

html {
    scrollbar-gutter: stable;
    font-family: var(--font-family-sans);
}

html:has(:modal) {
    overflow: clip;
    scrollbar-gutter: auto;
}

body:has(:modal) {
    overflow: auto;
    scrollbar-gutter: stable;
}

:where(a):any-link {
    color: var(--color-primitive-blue-1000);
    text-decoration: underline;
    text-decoration-thickness: calc(1 / 16 * 1rem);
    text-underline-offset: calc(3 / 16 * 1rem);
}

:where(a):visited {
    color: var(--color-primitive-magenta-900);
}

@media (hover: hover) {
    :where(a):hover {
        color: var(--color-primitive-blue-900);
        text-decoration-thickness: calc(3 / 16 * 1rem);
    }
}

:where(a):active {
    color: var(--color-primitive-orange-800);
    text-decoration-thickness: calc(1 / 16 * 1rem);
}

:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    border-radius: calc(4 / 16 * 1rem);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-u-visually-hidden {
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

:where(.dads-u-focus-outline):focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black) !important;
    outline-offset: calc(2 / 16 * 1rem) !important;
    border-radius: calc(4 / 16 * 1rem) !important;
    background-color: var(--color-primitive-yellow-300) !important;
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300) !important;
}

@supports selector(:has(*)) {
    :where(.dads-u-focus-within-outline):focus-visible,
    :where(.dads-u-focus-within-outline):has(:focus-visible) {
        outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black) !important;
        outline-offset: calc(2 / 16 * 1rem) !important;
        border-radius: calc(4 / 16 * 1rem) !important;
        background-color: var(--color-primitive-yellow-300) !important;
        box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300) !important;
    }
}
@supports not selector(:has(*)) {
    :where(.dads-u-focus-within-outline):focus-within {
        outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black) !important;
        outline-offset: calc(2 / 16 * 1rem) !important;
        border-radius: calc(4 / 16 * 1rem) !important;
        background-color: var(--color-primitive-yellow-300) !important;
        box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300) !important;
    }
}

.dads-u-dsp-64B-140 {
    font-weight: bold !important;
    font-size: calc(64 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-dsp-57B-140 {
    font-weight: bold !important;
    font-size: calc(57 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-dsp-48B-140 {
    font-weight: bold !important;
    font-size: calc(48 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-dsp-64N-140 {
    font-weight: normal !important;
    font-size: calc(64 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-dsp-57N-140 {
    font-weight: normal !important;
    font-size: calc(57 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-dsp-48N-140 {
    font-weight: normal !important;
    font-size: calc(48 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-std-45B-140 {
    font-weight: bold !important;
    font-size: calc(45 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-std-36B-140 {
    font-weight: bold !important;
    font-size: calc(36 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-32B-150 {
    font-weight: bold !important;
    font-size: calc(32 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-28B-150 {
    font-weight: bold !important;
    font-size: calc(28 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-26B-150 {
    font-weight: bold !important;
    font-size: calc(26 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-24B-150 {
    font-weight: bold !important;
    font-size: calc(24 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-22B-150 {
    font-weight: bold !important;
    font-size: calc(22 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-20B-150 {
    font-weight: bold !important;
    font-size: calc(20 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-18B-160 {
    font-weight: bold !important;
    font-size: calc(18 / 16 * 1rem) !important;
    line-height: 1.6 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-17B-170 {
    font-weight: bold !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.7 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-16B-170 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.7 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-16B-175 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-45N-140 {
    font-weight: normal !important;
    font-size: calc(45 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0 !important;
}

.dads-u-std-36N-140 {
    font-weight: normal !important;
    font-size: calc(36 / 16 * 1rem) !important;
    line-height: 1.4 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-32N-150 {
    font-weight: normal !important;
    font-size: calc(32 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-28N-150 {
    font-weight: normal !important;
    font-size: calc(28 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
}

.dads-u-std-26N-150 {
    font-weight: normal !important;
    font-size: calc(26 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-24N-150 {
    font-weight: normal !important;
    font-size: calc(24 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-22N-150 {
    font-weight: normal !important;
    font-size: calc(22 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-20N-150 {
    font-weight: normal !important;
    font-size: calc(20 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-18N-160 {
    font-weight: normal !important;
    font-size: calc(18 / 16 * 1rem) !important;
    line-height: 1.6 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-17N-170 {
    font-weight: normal !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.7 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-16N-170 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.7 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-std-16N-175 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-dns-17B-130 {
    font-weight: bold !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-17B-120 {
    font-weight: bold !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-16B-130 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-16B-120 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-14B-130 {
    font-weight: bold !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-14B-120 {
    font-weight: bold !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-17N-130 {
    font-weight: normal !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-17N-120 {
    font-weight: normal !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-16N-130 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-16N-120 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-14N-130 {
    font-weight: normal !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;
}

.dads-u-dns-14N-120 {
    font-weight: normal !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
}

.dads-u-oln-17B-100 {
    font-weight: bold !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-oln-16B-100 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-oln-14B-100 {
    font-weight: bold !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-oln-17N-100 {
    font-weight: normal !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-oln-16N-100 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-oln-14N-100 {
    font-weight: normal !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.dads-u-mono-17B-150 {
    font-weight: bold !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

.dads-u-mono-16B-150 {
    font-weight: bold !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

.dads-u-mono-14B-150 {
    font-weight: bold !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

.dads-u-mono-17N-150 {
    font-weight: normal !important;
    font-size: calc(17 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

.dads-u-mono-16N-150 {
    font-weight: normal !important;
    font-size: calc(16 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

.dads-u-mono-14N-150 {
    font-weight: normal !important;
    font-size: calc(14 / 16 * 1rem) !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-mono) !important;
    letter-spacing: 0 !important;
}

/* horizonal-menu.css */
.dads-horizontal-menu {
    margin: 0;
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid var(--color-neutral-solid-gray-420);
    padding: 0;
    color: var(--color-neutral-solid-gray-900);
    list-style-type: none;
    font-weight: bold;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.3;
    font-family: var(--font-family-sans);
    letter-spacing: 0;
}

.dads-horizontal-menu__item {
    display: flex;
    align-items: stretch;
    position: relative;
}

.dads-horizontal-menu__item-inner,
.dads-horizontal-menu__item-inner:any-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(4 / 16 * 1rem);
    box-sizing: border-box;
    min-height: calc(64 / 16 * 1rem);
    border: 0;
    background-color: transparent;
    padding: calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
    color: inherit;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.dads-horizontal-menu__front-icon {
    flex-shrink: 0;
    width: calc(24 / 16 * 1rem);
    height: calc(24 / 16 * 1rem);
}

.dads-horizontal-menu__chevron {
    margin-top: calc(4 / 16 * 1rem);
    box-sizing: content-box;
    flex-shrink: 0;
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
}

@media (hover: hover) {
    .dads-horizontal-menu__item-inner:hover {
        background-color: var(--color-neutral-solid-gray-50);
    }

    .dads-horizontal-menu__item-inner:hover::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid var(--color-neutral-black);
        content: "";
    }
}

.dads-horizontal-menu__item-inner[aria-current] {
    background-color: var(--color-neutral-white);
    color: var(--color-key-1000);
}

.dads-horizontal-menu__item-inner[aria-current]::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid var(--color-key-900);
    content: "";
}

@media (hover: hover) {
    .dads-horizontal-menu__item-inner[aria-current]:hover {
        color: var(--color-key-900);
        text-decoration: underline;
        text-decoration-thickness: calc(1 / 16 * 1rem);
        text-underline-offset: calc(3 / 16 * 1rem);
    }
}

.dads-horizontal-menu__item-inner:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    border-radius: calc(4 / 16 * 1rem);
    background-color: var(--color-primitive-yellow-300);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-horizontal-menu__item-inner[aria-current]:focus-visible {
    background-color: var(--color-neutral-white);
}

.dads-horizontal-menu__item-inner[aria-expanded="true"] .dads-horizontal-menu__chevron {
    transform: rotate(180deg);
}

/* menu-list.css */
.dads-menu-list {
    position: relative;
    z-index: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    color: var(--color-neutral-solid-gray-800);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.3;
    font-family: var(--font-family-sans);
    letter-spacing: 0;
}

.dads-menu-list__item,
.dads-menu-list__item:any-link {
    display: flex;
    align-items: center;
    column-gap: calc(8 / 16 * 1rem);
    box-sizing: border-box;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    border: 0;
    background-color: transparent;
    padding-right: calc(16 / 16 * 1rem);
    padding-left: calc(16 / 16 * 1rem);
    color: inherit;
    text-align: left;
    font: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    text-decoration-thickness: calc(1 / 16 * 1rem);
}

.dads-menu-list__item[data-size="regular"] {
    min-height: calc(44 / 16 * 1rem);
    padding-top: calc(10 / 16 * 1rem);
    padding-bottom: calc(10 / 16 * 1rem);
    line-height: 1.3;
}

.dads-menu-list__item[data-size="small"] {
    min-height: calc(36 / 16 * 1rem);
    padding-top: calc(6 / 16 * 1rem);
    padding-bottom: calc(6 / 16 * 1rem);
    line-height: 1.2;
}

.dads-menu-list__item[data-type="standard"] {
    margin-left: calc(1rem * var(--menu-list-indentation, 0));
}

.dads-menu-list__item[data-type="standard"][data-size="regular"] {
    border-radius: calc(8 / 16 * 1rem);
}

.dads-menu-list__item[data-type="standard"][data-size="small"] {
    border-radius: calc(4 / 16 * 1rem);
}

.dads-menu-list__item[data-type="box"] {
    border-radius: 0;
}

.dads-menu-list__item[data-type="box"] {
    padding-left: calc(16 / 16 * 1rem + 1rem * var(--menu-list-indentation, 0));
}

.dads-menu-list__item[data-current] {
    background-color: var(--color-key-100);
    color: var(--color-key-1000);
    font-weight: bold;
}

.dads-menu-list__item:has(+ * [data-current]) {
    background-color: var(--color-key-50);
    color: var(--color-key-1000);
}

@media (hover: hover) {
    .dads-menu-list__item:hover {
        background-color: var(--color-neutral-solid-gray-50);
        text-decoration: underline;
        text-underline-offset: calc(3 / 16 * 1rem);
    }

    .dads-menu-list__item[data-current]:hover,
    .dads-menu-list__item:has(+ * [data-current]):hover {
        background-color: var(--color-key-50);
        color: var(--color-key-900);
    }
}

.dads-menu-list__item:focus-visible {
    position: relative;
    z-index: 1;
    background-color: var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-type="standard"]:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-type="box"]:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(-4 / 16 * 1rem);
    box-shadow: inset 0 0 0 calc(6 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-menu-list__item[data-current]:focus-visible {
    background-color: var(--color-key-100);
}

.dads-menu-list__item:has(+ * [data-current]):focus-visible {
    background-color: var(--color-key-50);
}

.dads-menu-list__front-icon {
    flex-shrink: 0;
}

.dads-menu-list__tail-icon {
    display: inline-block;
    vertical-align: -0.15em;
}

.dads-menu-list__end-icon {
    margin-top: calc(2 / 16 * 1rem);
    margin-right: calc(-4 / 16 * 1rem);
    margin-left: auto;
    flex-shrink: 0;
}

.dads-menu-list__item[data-expanded] .dads-menu-list__end-icon {
    transform: rotate(180deg);
}

/* menu-list-box.css */
.dads-menu-list-box {
    position: relative;
    display: block;
    width: fit-content;
    color: var(--color-neutral-solid-gray-900);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.2;
    font-family: var(--font-family-sans);
    letter-spacing: 0.02em;
}

.dads-menu-list-box__opener {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: calc(8 / 16 * 1rem);
    border: 0;
    background: transparent;
    padding-top: calc(4 / 16 * 1rem);
    padding-bottom: calc(4 / 16 * 1rem);
    font: inherit;
    letter-spacing: inherit;
}

.dads-menu-list-box__opener[data-size="sm"] {
    min-height: calc(36 / 16 * 1rem);
    padding-right: calc(4 / 16 * 1rem);
    padding-left: calc(4 / 16 * 1rem);
    column-gap: calc(4 / 16 * 1rem);
}

.dads-menu-list-box__opener[data-size="md"] {
    min-height: calc(44 / 16 * 1rem);
    padding-right: calc(16 / 16 * 1rem);
    padding-left: calc(16 / 16 * 1rem);
    column-gap: calc(8 / 16 * 1rem);
}

.dads-menu-list-box__opener[data-style="outlined"] {
    border: 1px solid var(--color-neutral-solid-gray-420);
    background-color: transparent;
}

.dads-menu-list-box__opener[data-style="filled"] {
    background-color: var(--color-neutral-solid-gray-50);
}

.dads-menu-list-box__opener[data-text-weight="bold"] {
    font-weight: bold;
}

@media (hover: hover) {
    .dads-menu-list-box__opener:hover {
        background-color: var(--color-neutral-solid-gray-50);
        text-decoration: underline;
        text-underline-offset: calc(3 / 16 * 1rem);
    }

    .dads-menu-list-box__opener[data-style="outlined"]:hover {
        border-color: var(--color-neutral-black);
    }

    .dads-menu-list-box__opener[data-style="filled"]:hover {
        background-color: var(--color-neutral-solid-gray-100);
    }
}

.dads-menu-list-box__opener:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    background-color: var(--color-primitive-yellow-300);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-menu-list-box__opener[data-style="filled"]:focus-visible {
    background-color: var(--color-neutral-solid-gray-50);
}

.dads-menu-list-box__opener-icon {
    flex-shrink: 0;
    width: calc(20 / 16 * 1rem);
    height: calc(20 / 16 * 1rem);
}

.dads-menu-list-box__opener-arrow {
    margin-top: calc(4 / 16 * 1rem);
    flex-shrink: 0;
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
}

[aria-expanded="true"] > .dads-menu-list-box__opener-arrow {
    transform: rotate(180deg);
}

.dads-menu-list-box__popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: max-content;
    max-height: calc((16 + 44 * 6.5) / 16 * 1rem);
    overflow-y: auto;
    border-radius: calc(8 / 16 * 1rem) 0 0 calc(8 / 16 * 1rem);
    border: 1px solid var(--color-neutral-solid-gray-420);
    background-color: var(--color-neutral-white);
    padding: calc(16 / 16 * 1rem) 0;
    box-shadow: var(--elevation-1);
}

/* select.css */
.dads-select {
    display: block;
    color: var(--color-neutral-solid-gray-800);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.7;
    font-family: var(--font-family-sans);
    letter-spacing: 0.02em;
}

.dads-select__control {
    position: relative;
    display: block;
    width: fit-content;
}

.dads-select__select {
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: calc(8 / 16 * 1rem);
    border: 1px solid var(--color-neutral-solid-gray-600);
    background-color: var(--color-neutral-white);
    padding-right: calc(40 / 16 * 1rem);
    padding-left: calc(16 / 16 * 1rem);
    color: inherit;
    font: inherit;
    line-height: 1;
    letter-spacing: inherit;
    appearance: none;
}

.dads-select__select[data-size="sm"] {
    height: calc(40 / 16 * 1rem);
}

.dads-select__select[data-size="md"] {
    height: calc(48 / 16 * 1rem);
}

.dads-select__select[data-size="lg"] {
    height: calc(56 / 16 * 1rem);
}

.dads-select__select:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

@media (hover: hover) {
    .dads-select__select:hover {
        border-color: var(--color-neutral-black);
    }
}

.dads-select__select:is(:user-invalid, [aria-invalid="true"]) {
    border-color: var(--color-semantic-error-1);
}

@media (hover: hover) {
    .dads-select__select:is(:user-invalid, [aria-invalid="true"]):hover {
        border-color: var(--color-primitive-red-1000);
    }
}

.dads-select__select:is(:disabled, [aria-disabled="true"]),
.dads-select__select:is(:disabled, [aria-disabled="true"]):hover {
    border: 1px solid var(--color-neutral-solid-gray-300);
    background-color: var(--color-neutral-solid-gray-50);
    color: var(--color-neutral-solid-gray-420);
}

@media (forced-colors: active) {
    .dads-select__select {
        color: ButtonText;
        border-color: ButtonText;
    }

    .dads-select__select[aria-disabled="true"],
    .dads-select__select[aria-disabled="true"]:hover {
        border-color: GrayText;
        color: GrayText;
    }
}

.dads-select__chevron {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: calc(16 / 16 * 1rem);
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
}

.dads-select__select:disabled + .dads-select__chevron {
    color: var(--color-neutral-solid-gray-420);
}

@media (forced-colors: active) {
    .dads-select__chevron {
        color: ButtonText;
    }

    .dads-select__select:disabled + .dads-select__chevron {
        color: GrayText;
    }
}

.dads-select__error-text {
    margin: calc(8 / 16 * 1rem) 0 0 0;
    display: block;
    color: var(--color-semantic-error-1);
}

/* form-control-label.css */
.dads-form-control-label {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    color: var(--color-neutral-solid-gray-800);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.7;
    font-family: var(--font-family-sans);
    letter-spacing: 0.02em;
}

.dads-form-control-label[data-size="sm"] {
    gap: calc(4 / 16 * 1rem);
}

.dads-form-control-label[data-size="md"] {
    gap: calc(8 / 16 * 1rem);
}

.dads-form-control-label[data-size="lg"] {
    gap: calc(8 / 16 * 1rem);
}

.dads-form-control-label__label {
    align-self: start;
    padding: 0;
    font-weight: bold;
}

.dads-form-control-label[data-size="sm"] .dads-form-control-label__label {
    font-size: calc(16 / 16 * 1rem);
}

.dads-form-control-label[data-size="md"] .dads-form-control-label__label {
    font-size: calc(17 / 16 * 1rem);
}

.dads-form-control-label[data-size="lg"] .dads-form-control-label__label {
    font-size: calc(18 / 16 * 1rem);
}

legend.dads-form-control-label__label {
    margin-bottom: calc(8 / 16 * 1rem);
    float: none;
}

.dads-form-control-label__requirement {
    margin-left: calc(4 / 16 * 1rem);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
}

.dads-form-control-label__requirement[data-required="true"] {
    color: var(--color-semantic-error-1);
}

.dads-form-control-label__requirement::before {
    content: " ";
}

.dads-form-control-label__status {
    margin-left: calc(4 / 16 * 1rem);
    display: inline-block;
    outline: 1px solid transparent;
    border-radius: calc(8 / 16 * 1rem);
    background-color: var(--color-neutral-solid-gray-536);
    padding: calc(8 / 16 * 1rem);
    color: var(--color-neutral-white);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1;
    letter-spacing: 0.02em;
}

.dads-form-control-label__support-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-neutral-solid-gray-600);
}

.dads-form-control-label__error-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-semantic-error-1);
    line-height: 1.3;
    letter-spacing: 0;
}

/* input-text.css */
.dads-input-text {
    display: block;
    color: var(--color-neutral-solid-gray-800);
    font-weight: normal;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.7;
    font-family: var(--font-family-sans);
    letter-spacing: 0.02em;
}

.dads-input-text__input {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid var(--color-neutral-solid-gray-600);
    background-color: var(--color-neutral-white);
    padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
    border-radius: calc(8 / 16 * 1rem);
    color: var(--color-neutral-solid-gray-900);
    font: inherit;
    line-height: 1;
}

.dads-input-text__input[data-size="sm"] {
    height: 2.5rem;
}

.dads-input-text__input[data-size="md"] {
    height: 3rem;
}

.dads-input-text__input[data-size="lg"] {
    height: 3.5rem;
}

.dads-input-text__input:read-only:not(:disabled) {
    border-style: dashed;
}

.dads-input-text__input:focus-visible {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

@media (hover: hover) {
    .dads-input-text__input:not(:read-only):hover {
        border-color: var(--color-neutral-black);
    }
}

.dads-input-text__input:is(:user-invalid, [aria-invalid="true"]) {
    border-color: var(--color-semantic-error-1);
}

@media (hover: hover) {
    .dads-input-text__input:is(:user-invalid, [aria-invalid="true"]):hover {
        border-color: var(--color-primitive-red-1000);
    }
}

.dads-input-text__input:is(:disabled, [aria-disabled="true"]),
.dads-input-text__input:is(:disabled, [aria-disabled="true"]):hover {
    border-color: var(--color-neutral-solid-gray-300);
    background-color: var(--color-neutral-solid-gray-50);
    color: var(--color-neutral-solid-gray-420);
}

@media (forced-colors: active) {
    .dads-input-text__input[aria-disabled="true"],
    .dads-input-text__input[aria-disabled="true"]:hover {
        border-color: GrayText;
        color: GrayText;
    }
}

.dads-input-text__error-text {
    margin: calc(8 / 16 * 1rem) 0 0 0;
    display: block;
    color: var(--color-semantic-error-1);
}

/* checkbox.css */
.dads-checkbox {
    display: flex;
    align-items: start;
    gap: var(--_gap);
    width: fit-content;
}

.dads-checkbox:has(.dads-checkbox__label:not(:empty)) {
    padding-top: calc(8 / 16 * 1rem);
    padding-bottom: calc(8 / 16 * 1rem);
}

.dads-checkbox[data-size="sm"] {
    --_gap: calc(4 / 16 * 1rem);
    --_checkbox-size: calc(24 / 16 * 1rem);
    --_checkbox-border-width: calc(2 / 16 * 1rem);
    --_checkbox-scale: 1;
    --_label-padding-top: calc(1 / 16 * 1rem);
    --_label-font-size: calc(16 / 16 * 1rem);
}

.dads-checkbox[data-size="md"] {
    --_gap: calc(8 / 16 * 1rem);
    --_checkbox-size: calc(32 / 16 * 1rem);
    --_checkbox-border-width: calc(2 / 16 * 1rem);
    --_checkbox-scale: calc(20 / 14);
    --_label-padding-top: calc(4 / 16 * 1rem);
    --_label-font-size: calc(16 / 16 * 1rem);
}

.dads-checkbox[data-size="lg"] {
    --_gap: calc(8 / 16 * 1rem);
    --_checkbox-size: calc(44 / 16 * 1rem);
    --_checkbox-border-width: calc(3 / 16 * 1rem);
    --_checkbox-scale: calc(27 / 14);
    --_label-padding-top: calc(10 / 16 * 1rem);
    --_label-font-size: calc(17 / 16 * 1rem);
}

.dads-checkbox__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--_checkbox-size);
    height: var(--_checkbox-size);
    border-radius: 12.5%;
}

@media (hover: hover) {
    .dads-checkbox__checkbox:has(:not(:focus, :disabled, [aria-disabled="true"]):hover) {
        background-color: var(--color-neutral-solid-gray-420);
    }
}

.dads-checkbox__input {
    --_base-color: var(--color-neutral-white);
    --_accent-color: var(--color-key-900);
    --_accent-hover-color: var(--color-key-1100);
    --_border-color: var(--color-neutral-solid-gray-600);
    --_border-hover-color: var(--color-neutral-black);
    --_check-color: var(--color-neutral-white);

    margin: 0;
    appearance: none;
    width: 75%;
    height: 75%;
    border-radius: calc(2 / 18 * 100%);
    background-color: var(--_base-color);
    background-clip: padding-box;
    border: var(--_checkbox-border-width) solid var(--_border-color);
}

.dads-checkbox__input:focus {
    outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(2 / 16 * 1rem);
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

@media (hover: hover) {
    .dads-checkbox__input:not(:disabled, [aria-disabled="true"]):hover {
        border-color: var(--_border-hover-color);
    }
}

.dads-checkbox__input:is(:checked, :indeterminate) {
    border-color: var(--_accent-color);
    background-color: var(--_accent-color);
}

@media (hover: hover) {
    .dads-checkbox__input:is(:checked, :indeterminate):not(:disabled, [aria-disabled="true"]):hover {
        border-color: var(--_accent-hover-color);
        background-color: var(--_accent-hover-color);
    }
}

.dads-checkbox__input::before {
    display: none;
    width: calc(14 / 16 * 1rem);
    height: calc(14 / 16 * 1rem);
    background-color: var(--_check-color);
    transform-origin: left top;
    transform: scale(var(--_checkbox-scale, 1));
    content: "";
}

.dads-checkbox__input:checked::before {
    display: block;
    clip-path: path("M5.6,11.2L12.65,4.15L11.25,2.75L5.6,8.4L2.75,5.55L1.35,6.95L5.6,11.2Z");
}

.dads-checkbox__input:indeterminate::before {
    display: block;
    clip-path: path("M2,6h10v2H2Z");
}

.dads-checkbox__input[aria-invalid="true"] {
    --_accent-color: var(--color-semantic-error-1);
    --_accent-hover-color: var(--color-primitive-red-1000);
    --_border-color: var(--color-semantic-error-1);
    --_border-hover-color: var(--color-primitive-red-1000);
}

.dads-checkbox__input:is(:disabled, [aria-disabled="true"]) {
    --_base-color: var(--color-neutral-solid-gray-50);
    --_accent-color: var(--color-neutral-solid-gray-300);
    --_accent-hover-color: var(--color-neutral-solid-gray-300);
    --_border-color: var(--color-neutral-solid-gray-300);
    --_border-hover-color: var(--color-neutral-solid-gray-300);
}

@media (forced-colors: active) {
    .dads-checkbox__input,
    .dads-checkbox__input[aria-invalid="true"] {
        --_accent-color: Highlight;
        --_accent-hover-color: Highlight;
        --_border-color: ButtonText;
        --_border-hover-color: ButtonText;
        --_check-color: HighlightText;
    }

    .dads-checkbox__input:is(:disabled, [aria-disabled="true"]) {
        --_accent-color: GrayText;
        --_accent-hover-color: GrayText;
        --_border-color: GrayText;
        --_border-hover-color: GrayText;
        --_check-color: Canvas;
    }
}

.dads-checkbox__label {
    padding-top: var(--_label-padding-top);
    color: var(--color-neutral-solid-gray-800);
    font-weight: normal;
    font-size: var(--_label-font-size);
    line-height: 1.3;
    font-family: var(--font-family-sans);
    letter-spacing: 0;
}
