.dads-resource-list {
  display: flex;
  align-items: center;
  background: var(--color-neutral-white);
  color: var(--color-neutral-solid-gray-800);
  font-family: var(--font-family-sans);
  overflow-wrap: anywhere;

  --_border-color: var(--color-neutral-solid-gray-420);
  --_padding-block: calc(16 / 16 * 1rem);
  --_padding-inline: calc(16 / 16 * 1rem);
}

.dads-resource-list[data-style="list"] {
  border: 1px solid transparent;
  border-bottom-color: var(--_border-color);
}

.dads-resource-list[data-style="frame"] {
  border-radius: calc(16 / 16 * 1rem);
  border: 1px solid var(--_border-color);
}

.dads-resource-list:has(:checked:enabled) {
  background: var(--color-primitive-blue-50);
  --_border-color: var(--color-neutral-solid-gray-500);
}

.dads-resource-list[data-interaction="whole"]:has(:disabled) {
  background: var(--color-neutral-solid-gray-50);
  color: var(--color-neutral-solid-gray-420);
}

.dads-resource-list[data-style="list"]:has(:disabled) {
  border-bottom-color: var(--color-neutral-solid-gray-300);
}

.dads-resource-list[data-style="frame"]:has(:disabled) {
  border-color: var(--color-neutral-solid-gray-300);
}

.dads-resource-list__body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: calc(16 / 16 * 1rem);
  outline-offset: calc(-1 / 16 * 1rem);
  border-radius: inherit;
  padding: var(--_padding-block) var(--_padding-inline);
  color: inherit;
  text-decoration: none;
}

.dads-resource-list__body:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (hover: hover) {
  .dads-resource-list__body:any-link:hover,
  .dads-resource-list[data-interaction="whole"]
    .dads-resource-list__body:has(:enabled):hover:not(:focus-visible) {
    outline: calc(2 / 16 * 1rem) solid var(--color-neutral-black);
    background: var(--color-neutral-solid-gray-50);
  }
}

.dads-resource-list__body:any-link:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-resource-list__body > * {
  flex-shrink: 0;
}

.dads-resource-list__body .dads-checkbox,
.dads-resource-list__body .dads-radio {
  align-self: stretch;
  margin: calc(-1 * var(--_padding-block)) calc(-1 * var(--_padding-block));
  margin-right: 0;
  padding: var(--_padding-block) var(--_padding-inline);
  padding-right: 0;
  align-items: center;
}

.dads-resource-list__contents {
  width: 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  gap: calc(4 / 16 * 1rem);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.3;
  letter-spacing: 0;
}

.dads-resource-list__contents > * {
  max-width: 100%;
}

.dads-resource-list__label {
  order: -1;
}

.dads-resource-list__label > * {
  margin: 0;
}

.dads-resource-list__title {
  margin: 0;
  color: var(--color-neutral-solid-gray-900);
  font-weight: bold;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.dads-resource-list[data-interaction="whole"]:has(:disabled)
  .dads-resource-list__title {
  color: inherit;
}

.dads-resource-list__body:any-link .dads-resource-list__title,
.dads-resource-list__title a {
  color: var(--color-primitive-blue-1000);
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

.dads-resource-list__title a,
.dads-resource-list__title label {
  isolation: isolate;
  margin-top: calc(-8 / 16 * 1rem);
  margin-bottom: calc(-8 / 16 * 1rem);
  display: block;
  padding-top: calc(8 / 16 * 1rem);
  padding-bottom: calc(8 / 16 * 1rem);
}

.dads-resource-list[data-interaction="whole"]
  .dads-resource-list__title
  label::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  content: "";
}

@media (hover: hover) {
  .dads-resource-list__body:any-link:hover .dads-resource-list__title,
  .dads-resource-list__title a:hover {
    color: var(--color-primitive-blue-900);
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.dads-resource-list__body:any-link:active .dads-resource-list__title,
.dads-resource-list__title a:active {
  color: var(--color-primitive-orange-800);
  text-decoration-thickness: calc(1 / 16 * 1rem);
}

.dads-resource-list__title a:focus-visible {
  margin-top: 0;
  margin-bottom: 0;
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
  background-color: var(--color-primitive-yellow-300);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-resource-list__support > * {
  margin: 0;
}

.dads-resource-list__sub {
  flex-shrink: 0;
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.3;
  letter-spacing: 0;
}

.dads-resource-list__sub > * {
  margin: 0;
}

.dads-resource-list__action {
  flex-shrink: 0;
  align-self: stretch;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.dads-resource-list__action-button {
  width: calc(44 / 16 * 1rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: inherit;
  background: transparent;
  padding: 0;
  color: inherit;
}

@media (hover: hover) {
  .dads-resource-list__action-button:enabled:hover {
    outline: calc(2 / 16 * 1rem) solid var(--color-neutral-black);
    outline-offset: calc(-1 / 16 * 1rem);
    background: var(--color-neutral-solid-gray-50);
  }
}

.dads-resource-list__action-button:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(-3 / 16 * 1rem);
  background: var(--color-primitive-yellow-300);
  box-shadow: none;
}
