.dads-card-example-5-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: calc(24 / 16 * 1rem);
  padding: 0;
  list-style: none;
}

.dads-card-example-5-list > li {
  display: flex;
  min-width: 0;
}

.dads-card-example-5 {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  border-radius: calc(16 / 16 * 1rem);
  border: 1px solid var(--color-neutral-solid-gray-420);
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  font-family: var(--font-family-sans);
  line-height: 1.7;
  letter-spacing: 0.02em;
  overflow-wrap: anywhere;
}

.dads-card-example-5__link:any-link {
  display: block;
  border-radius: calc((16 - 1) / 16 * 1rem) calc((16 - 1) / 16 * 1rem) 0 0;
  padding-bottom: calc(16 / 16 * 1rem);
  color: inherit;
  text-decoration: inherit;
}

.dads-card-example-5__link:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-card-example-5__heading {
  margin: 0;
  font: inherit;
}

.dads-card-example-5__image-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: calc((16 - 1) / 16 * 1rem) calc((16 - 1) / 16 * 1rem) 0 0;
}

.dads-card-example-5__image-label {
  position: absolute;
  top: calc(16 / 16 * 1rem);
  left: calc(16 / 16 * 1rem);
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(4 / 16 * 1rem);
  width: calc(58 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  background-color: var(--color-neutral-white);
  padding: calc(8 / 16 * 1rem);
}

.dads-card-example-5__month {
  color: var(--color-primitive-cyan-900);
  font-weight: bold;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1;
  letter-spacing: 0.02em;
}

.dads-card-example-5__date {
  font-weight: bold;
  font-size: calc(24 / 16 * 1rem);
  line-height: 1;
  letter-spacing: 0.02em;
}

.dads-card-example-5__label {
  margin: calc(16 / 16 * 1rem) calc(24 / 16 * 1rem) calc(8 / 16 * 1rem);
  display: block;
}

.dads-card-example-5__title {
  margin: 0 calc(24 / 16 * 1rem);
  display: block;
  color: var(--color-neutral-solid-gray-900);
  font-weight: bold;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

@media (hover: hover) {
  .dads-card-example-5__link:hover .dads-card-example-5__title {
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.dads-card-example-5__sub {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: calc(32 / 16 * 1rem);
  padding: 0 calc(24 / 16 * 1rem) calc(16 / 16 * 1rem);
}

.dads-card-example-5__sub > * {
  min-width: 0;
}

.dads-card-example-5__actions {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: calc(16 / 16 * 1rem);
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}

.dads-card-example-5 .dads-button {
  --button-color: var(--color-primitive-cyan-900);
  --button-hover-color: var(--color-primitive-cyan-1000);
  --button-active-color: var(--color-primitive-cyan-1200);
  --button-outline-hover-bg-color: var(--color-primitive-cyan-50);
  --button-outline-active-bg-color: var(--color-primitive-cyan-100);
}
