.dads-card-example-3-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 354px));
  gap: calc(32 / 16 * 1rem) calc(24 / 16 * 1rem);
  padding: 0;
  list-style: none;
}

.dads-card-example-3-list > li {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
  min-width: 0;
}

.dads-card-example-3 {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
  row-gap: 0;
  border-radius: calc(16 / 16 * 1rem);
  border: 1px solid var(--color-neutral-solid-gray-420);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  font-family: var(--font-family-sans);
  line-height: 1.7;
  letter-spacing: 0.02em;
  overflow-wrap: anywhere;
}

.dads-card-example-3__main {
  display: grid;
  align-content: start;
  row-gap: calc(16 / 16 * 1rem);
  min-width: 0;
  padding: calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
  padding-bottom: 0;
}

.dads-card-example-3__main-header {
  display: flex;
  align-items: start;
  column-gap: calc(16 / 16 * 1rem);
  min-width: 0;
}

.dads-card-example-3__avatar {
  order: -1;
  flex-shrink: 0;
}

.dads-card-example-3__heading {
  display: flex;
  flex-direction: column;
  row-gap: calc(8 / 16 * 1rem);
  min-width: 0;
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.7;
  letter-spacing: 0.02em;
}

.dads-card-example-3__title {
  margin: 0;
  color: var(--color-neutral-solid-gray-900);
  font-weight: bold;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.dads-card-example-3__label {
  order: -1;
}

.dads-card-example-3__contents {
  display: flex;
  flex-direction: column;
  row-gap: calc(16 / 16 * 1rem);
  min-width: 0;
}

.dads-card-example-3__contents > p {
  margin: 0;
}

.dads-card-example-3__contents img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dads-card-example-3__sub {
  display: grid;
  gap: calc(16 / 16 * 1rem);
  min-width: 0;
  padding: calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
}

.dads-card-example-3__sub > * {
  min-width: 0;
}

.dads-card-example-3__actions {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: calc(16 / 16 * 1rem);
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}
