.dads-card-example-2-list {
  margin: 0;
  display: grid;
  gap: calc(24 / 16 * 1rem);
  padding: 0;
  list-style: none;
}

.dads-card-example-2-list > li {
  min-width: 0;
}

.dads-card-example-2 {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: grid;
  grid-template:
    "image main" auto /
    minmax(auto, min(50%, calc(352 / 16 * 1rem))) 1fr;
  max-width: calc(1024 / 16 * 1rem);
  border: 1px solid var(--color-neutral-solid-gray-420);
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  font-family: var(--font-family-sans);
  line-height: 1.7;
  letter-spacing: 0.02em;
  overflow-wrap: anywhere;
}

.dads-card-example-2__main {
  position: relative;
  grid-area: main;
  display: grid;
  row-gap: calc(16 / 16 * 1rem);
  min-width: 0;
  padding: calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
}

.dads-card-example-2__main-header {
  display: flex;
  justify-content: space-between;
  column-gap: calc(16 / 16 * 1rem);
  min-width: 0;
}

.dads-card-example-2__heading {
  margin: 0;
  min-width: 0;
  padding-top: calc(4 / 16 * 1rem);
  color: var(--color-neutral-solid-gray-900);
  font-weight: bold;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.dads-card-example-2__function {
  margin-right: calc(-24 / 16 * 1rem);
  flex-shrink: 0;
}

.dads-card-example-2__function > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(44 / 16 * 1rem);
  height: calc(44 / 16 * 1rem);
  border: 1px solid transparent;
  border-radius: calc(6 / 16 * 1rem);
  background-color: var(--color-neutral-white);
  padding: 0;
  color: var(--color-neutral-solid-gray-800);
}

@media (hover: hover) {
  .dads-card-example-2__function > button:hover {
    border-color: var(--color-neutral-black);
    background-color: var(--color-neutral-solid-gray-50);
  }
}

.dads-card-example-2__function > button:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-card-example-2__contents {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 0;
}

.dads-card-example-2__block-link {
  grid-area: 1 / 1 / -1 / -1;
  display: grid;
  grid-template: subgrid / subgrid;
  color: inherit;
  text-decoration: inherit;
}

.dads-card-example-2__divider {
  margin-top: calc(8 / 16 * 1rem);
  margin-bottom: calc(8 / 16 * 1rem);
  border-top: 1px solid var(--color-neutral-solid-gray-536);
}

.dads-card-example-2__links {
  display: flex;
  column-gap: calc(16 / 16 * 1rem);
  justify-content: end;
}

.dads-card-example-2__learn-more:any-link {
  background: var(--color-primitive-light-blue-900);
  display: flex;
  border: 4px double transparent;
  padding: calc(6 / 16 * 1rem) calc(8 / 16 * 1rem);
  color: var(--color-neutral-white);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media (hover: hover) {
  .dads-card-example-2__learn-more:hover {
    background: var(--color-primitive-light-blue-1000);
    text-decoration: underline;
    text-decoration-thickness: calc(1 / 16 * 1rem);
    text-underline-offset: calc(3 / 16 * 1rem);
  }
}

.dads-card-example-2__learn-more:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

.dads-card-example-2__image {
  position: relative;
  grid-area: image;
  border-right: 1px solid var(--color-neutral-solid-gray-420);
}

.dads-card-example-2__image-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
