.dads-textarea {
  display: block;
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
}

.dads-textarea__textarea {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid var(--color-neutral-solid-gray-600);
  background-color: var(--color-neutral-white);
  padding: calc(16 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  color: var(--color-neutral-solid-gray-900);
  font: inherit;
  resize: vertical;
}

.dads-textarea__textarea:read-only:not(:disabled) {
  border-style: dashed;
}

.dads-textarea__textarea:focus-visible {
  outline: calc(4 / 16 * 1rem) solid var(--color-neutral-black);
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) var(--color-primitive-yellow-300);
}

@media (hover: hover) {
  .dads-textarea__textarea:not(:read-only):hover {
    border-color: var(--color-neutral-black);
  }
}

.dads-textarea__textarea:is(:user-invalid, [aria-invalid="true"]) {
  border-color: var(--color-semantic-error-1);
}

@media (hover: hover) {
  .dads-textarea__textarea:is(:user-invalid, [aria-invalid="true"]):hover {
    border-color: var(--color-primitive-red-1000);
  }
}

.dads-textarea__textarea:is(:disabled, [aria-disabled="true"]),
.dads-textarea__textarea:is(:disabled, [aria-disabled="true"]):hover {
  border-color: var(--color-neutral-solid-gray-300);
  background-color: var(--color-neutral-solid-gray-50);
  color: var(--color-neutral-solid-gray-420);
  resize: none;
}

@media (forced-colors: active) {
  .dads-textarea__textarea[aria-disabled="true"],
  .dads-textarea__textarea[aria-disabled="true"]:hover {
    border-color: GrayText;
    color: GrayText;
  }
}

.dads-textarea__error-text {
  margin: calc(8 / 16 * 1rem) 0 0 0;
  display: block;
  color: var(--color-semantic-error-1);
}
